:root {
  --main-primary-color: #00a5be;
  --main-font-size: 1em;
  --space-large: 2em;
  --space-medium: 1em;
  --space-small: 0.5em;
}

body {
  margin: 0;
  font-family: system-ui;
}

body::-webkit-scrollbar {
  display: none;
}
#container {
  font-size: var(--main-font-size);
  padding: var(--space-medium);
}

.days-off-container {
  display: flex;
  padding: 0.5em 1em;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.days-off-day {
  margin: 0.5em;
  padding: 0.5em;
  border: solid white 1px;
  width: 3em;
  text-align: center;
  border: solid 1px #00a5be;
  border-radius: 0.3em;
}
.calendar {
  margin-top: 2em;
  display: grid;
  grid-template-rows: 15% 85%;
}

.calendar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.head-info {
  display: flex;
  align-items: center;
}

.calendar .head-info span {
  margin-left: var(--space-small);
  font-weight: 700;
  color: var(--main-primary-color);
}
.calendar-head-arrows-month {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.calendar-head-arrows-month button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.calendar-body {
  padding: var(--space-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.calendar-body-weekdays {
  margin-top: var(--space-medium);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #9e9e9e;
  text-align: center;
}

.country {
  width: 100%;
  padding: 0;
  height: 3em;
  background: none;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
/* .calendar-body-weekdays .disabled {
  text-align: center;
  background-color: #efefef;
  border-radius: 15px 15px 0 0;
  padding: var(--space-small);
} */
.calendar-body-weekdays .days-of-week-container {
  position: relative;
}
.calendar-body-weekdays .days-of-week-container div {
  position: absolute;
  border: solid;
  z-index: 3;
  width: 100%;
  height: 380px;
  top: -10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 25px;
  visibility: hidden;
}

.calendar-body-days {
  height: 360px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-body-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  height: auto;
  border-radius: 50%;
}
.calendar-body-day p {
  margin: 0;
  border-radius: 50%;
  width: 100%;
  height: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 90%;
  background: whitesmoke;
  margin: var(--space-small) var(--space-small);
  height: auto;
  align-items: flex-start;
  grid-template-rows: 25%;
  padding: var(--space-small);
}
.calendar-body-years {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  left: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.calendar-body-years ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar-body-years ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1em;
}
.calendar-body-years ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0.7em;
  cursor: pointer;
  font-size: 1em;
}
.calendar-body-years ul .list-years-active {
  color: #0dc4de;
  font-size: 1.5em;
}
.hours {
  border-radius: 25px;
  padding: var(--space-small);
  border: solid 1px var(--main-primary-color);
}
.appointment {
  width: 80%;
  margin: 2em 10%;
  padding: var(--space-medium);
  border-radius: 25px;
  border: none;
  background-color: var(--main-primary-color);
  color: whitesmoke;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  outline: none;
}

.result {
  position: fixed;
  z-index: 3;
  transition: transform 0.8s;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
}

.result-header {
  padding: var(--space-medium);
  border-radius: 15px 15px 0px 0px;
  width: 70%;
  height: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--space-large);
  /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); */
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
}
.result-header h3 {
  font-size: 1.5em;
  color: #deebfd;
}
.result-header .img-container {
  margin-left: -60px;
  width: 75px;
  height: 75px;
  padding: var(--space-medium);
  background: transparent;
}

.result-header .img-container img {
  object-fit: cover;
  border-radius: 50%;
}
.result-body {
  width: 70%;
  padding: var(--space-medium);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 15px 15px;
  /* display: flex;
  align-items: flex-start; */
}

.result-body div {
  display: flex;
  align-items: center;
}
.result-body div p {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-small);
  font-weight: 600;
  margin-top: var(--space-medium);
  font-size: 2em;
  /* color: #deebfd; */
}

.result-body div p span {
  font-size: 0.6em;
  margin-top: var(--space-medium);
}

.result .go-back {
  margin-top: var(--space-large);
  align-self: flex-start;
  margin-left: var(--space-large);
  background: none;
  border: none;
  outline: none;
}

.open {
  transform: translate(-15px);
  visibility: visible;
}

.close {
  transform: translate3d(-25px, 0px, 0px);
  visibility: hidden;
}
.disabled {
  color: grey;
  /* background: #d9d9d96e; */
}

.active {
  background-color: #4bc5df !important;
  color: whitesmoke;
}
/* border-radius: 15px 15px 0 0;
    padding: var(--space-small); */

@media (max-width: 320px) {
  .result .go-back {
    margin-top: var(--space-large);
  }
  .result-body div p {
    font-size: var(--space-medium);
  }
}
@media (min-width: 480px) {
  .calendar {
    height: 485px;
    grid-template-rows: 15% 85%;
  }
  .calendar-body-weekdays .disabled {
    padding: 0;
  }
  .calendar-body-days {
    height: 100%;
  }
  .calendar-body-day p {
    width: 68%;
    height: 50%;
  }

  .result-header {
    height: 48px;
  }
  .result-body div p {
    font-size: var(--space-medium);
  }
}

@media (min-width: 768px) {
  .calendar-body-day p {
    height: 65%;
    width: 60%;
  }

  .result-body {
    display: flex;
  }

  .result-body div {
    width: 50%;
  }

  .result-body div p {
    font-size: var(--space-large);
  }
}

@media (min-width: 800px) {
  .calendar-body-day p {
    height: 70%;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 30% 70%;
    padding: 3em 3em 0 3em;
    background-color: #f7f7fb;
  }
  .calendar {
    height: 390px;
    grid-template-rows: 20% 80%;
    background-color: whitesmoke;
    padding: 1em;
  }

  .calendar-head {
    height: 10vh;
  }
  .days-off-container {
    padding: 0.5em 1em 0;
  }
  footer {
    grid-column: 2/2;
    grid-row: 1/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .calendar-body-weekdays .days-of-week-container div {
    height: 300px;
  }
  .calendar-body-day p {
    height: 70%;
    width: 80%;
  }
  footer .time {
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 25px 25px 0px 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .appointment {
    position: absolute;
    bottom: 0;
    margin-right: 0;
    right: 0;
    width: 50%;
  }

  .result {
    right: 0;
    width: 30vw;
  }

  .result .go-back {
    display: none;
  }

  .result-header {
    width: 80%;
  }
  .result-body {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .result-body div {
    width: 100%;
  }
}
@media (min-width: 2000px) {
  .calendar {
    height: 490px;
  }
  .calendar-body-day p {
    height: 70%;
    width: 50%;
  }
}
